In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### EDA Conclusion
1. *The dataset is a clean time-series dataset with daily sales records from 2013 to 2017, containing 91,300 rows and 4 columns.*
2. *The dataset includes the features date, store (10 unique stores), item (50 unique items), and sales, with no missing or duplicate values.*
3. *Sales exhibit a clear upward trend over the years, indicating increasing demand over time.*
4. *Strong yearly seasonality is observed, with repeating demand patterns across years, confirming that sales are non-stationary.*
5. *Most daily sales values fall within the range of 0–100 units, representing regular demand levels across stores and items.*
6. *A small number of days experience very high sales (approximately 100–180 units), creating a long right tail in the distribution and              resulting in a right-skewed sales distribution.*
7. *All stores contain outliers, indicating that these high-sales values represent genuine demand spikes rather than data errors; therefore,         outliers should be retained, and store-specific modeling is likely to improve forecasting performance.*

## Feature Engineering

In [3]:
df = pd.read_csv("../data/processed/cleaned_data.csv")

In [4]:
df.head()

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-01      7    12     26
2  2013-01-01      7    46     27
3  2013-01-01      8    12     54
4  2013-01-01      9    12     35