In [1]:
import numpy as np
import pandas as pd

### Feature Engineering Conclusion
*Before there were 4 features, And now there are 19 features in total including-*
| Category           | Purpose             |
| ------------------ | ------------------- |
| Time features      | Seasonality         |
| Lag features       | Memory              |
| Rolling features   | Trend & volatility  |
| Aggregate features | Indicate-Behavior   |

In [2]:
df = pd.read_csv("../data/processed/featured_data.csv", parse_dates=["date"])

In [3]:
df.dtypes

date               datetime64[ns]
store                       int64
item                        int64
sales                       int64
year                        int64
month                       int64
week                        int64
day                         int64
dayofweek                   int64
is_weekend                  int64
sales_lag_1               float64
sales_lag_7               float64
sales_lag_14              float64
sales_lag_28              float64
rolling_mean_7            float64
rolling_mean_14           float64
rolling_mean_28           float64
store_avg_sales           float64
item_avg_sales            float64
dtype: object

In [4]:
df.head()

,date,store,item,sales,year,month,week,day,dayofweek,is_weekend,sales_lag_1,sales_lag_7,sales_lag_14,sales_lag_28,rolling_mean_7,rolling_mean_14,rolling_mean_28,store_avg_sales,item_avg_sales
0,2013-01-29,1,1,6,2013,1,5,29,1,0,11.0,7.0,5.0,13.0,10.428571,10.642857,10.714286,47.268379,21.981599
1,2013-01-30,1,1,9,2013,1,5,30,2,0,6.0,9.0,7.0,11.0,10.285714,10.714286,10.464286,47.268379,21.981599
2,2013-01-31,1,1,13,2013,1,5,31,3,0,9.0,8.0,16.0,14.0,10.285714,10.857143,10.392857,47.268379,21.981599
3,2013-02-01,1,1,11,2013,2,5,1,4,0,13.0,14.0,7.0,13.0,11.000000,10.642857,10.357143,47.268379,21.981599
4,2013-02-02,1,1,21,2013,2,5,2,5,1,11.0,12.0,18.0,10.0,10.571429,10.928571,10.285714,47.268379,21.981599

In [5]:

df = df.sort_values("date").reset_index(drop=True)

# split date (last ~20% as validation)
split_date = df["date"].quantile(0.80)

train_df = df[df["date"] < split_date]
val_df   = df[df["date"] >= split_date]

print("Train period:", train_df["date"].min(), "to", train_df["date"].max())
print("Val period:", val_df["date"].min(), "to", val_df["date"].max())

Train period: 2013-01-29 00:00:00 to 2017-01-05 00:00:00
Val period: 2017-01-06 00:00:00 to 2017-12-31 00:00:00